.dynamics-savings-calculator *{
	box-sizing:border-box;
}

.slider {margin-bottom:2.5em;}
		
		.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
	border-radius:25px;
  background: #2aabe1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #2aabe1;
  cursor: pointer;
}
		
		
		.dynamics-savings-calculator {
			
			display:flex;
			align-items:stretch;
			background-color:#fff;
			border-radius:40px;
			width:1200px;
			max-width:100%;
			margin:50px auto 0;
			overflow:hidden;
			box-shadow: 0px 0px 30px -6px #ccc;
			font-family: 'Open Sans',Arial, Helvetica, sans-serif;
			font-size:16px;
			line-height:1.4em;
			
		}

		.dynamics-savings-calculator input {margin-bottom:1.5em; max-width:100%;}
		
		
		.dynamics-savings-calculator .col {
			
			flex: 1 1 50%;
			padding:3em 2em;
			
		}

		.dynamics-savings-calculator .col1 label {

			display:block;
			font-size:13px;
		
		}
		
		.dynamics-savings-calculator .col1 > label {
		
			margin-bottom:5px;
		
		}
		
		.dynamics-savings-calculator .col2 {
			
			background-color:#2aabe1;
			color:#fff;
			
		}
		
		.dynamics-savings-calculator .col2 h2 {margin-top:0; font-size:32px;}
		
		.dynamics-savings-calculator-result span {
			
			display:block;
			
		}

		.dynamics-savings-calculator-result-label {
			font-size:13px;
			line-height:1;
		}
		.dynamics-savings-calculator-result-value {
			font-size: 48px;
			line-height: 1;
			margin-bottom: 20px;
			font-weight:300;
		}

.dynamics-savings-calculator-field {
	
	display:-webkit-flex;
	display:-ms-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center;
	margin-bottom:10px;
	
}

.dynamics-savings-calculator-field-sep {
	margin:2em 0;
}

.dynamics-savings-calculator-field .field-col-1 {
	
	-webkit-flex:1 0 60%;
	-ms-flex:1 0 60%;
	flex:1 0 60%;
	width:60%;
	
}


.dynamics-savings-calculator-field .field-col-2 {
	
	-webkit-flex:1 0 40%;
	-ms-flex:1 0 40%;
	flex:1 0 40%;
	padding:0 0 0 1.5em;
	width:40%;
	display:-webkit-flex;
	display:-ms-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	
}

.dynamics-savings-calculator-field .field-col-2 input {
	
	margin:0 4% 0 0;
	border:none;
	background-color:#ccc;
	-webkit-flex:1 1 50%;
	-ms-flex:1 1 50%;
	flex:1 1 50%;
	width:50%;
	padding:10px;
	
}

.dynamics-savings-calculator-field .field-col-2 label {
	
	-webkit-flex:1 1 46%;
	-ms-flex:1 1 46%;
	flex:1 1 46%;
	width:46%;
	display:block;
	
	
}

.dynamics-calculator-error-message {
	display:none;
	color:#f00;
	font-size:14px;
	text-align:center;
}
.dynamics-savings-calculator.error .dynamics-calculator-error-message {
	display:block;
}

.dynamics-savings-calculator .calculate {
	background-color:#ff8c00;
	-webkit-appearance: none;
	appearance: none;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	display:block;
	width:100%;
	text-align:center;
	font-size:18px;
	padding:20px;
	border:none;
	border-radius:50px;
	cursor:pointer;
	margin:2em 0 0 0;
}

.dynamics-savings-calculator .calculate:hover,
.dynamics-savings-calculator .calculate:focus {
	outline:none;
	background-color:#ff991d;
}